.header{
height:120px;
background-color: black;
}
.main-list{
    display:flex;
    flex-direction: row;
    margin: 0 ,0;
    margin-left: auto;
    margin-right: auto;
}
li a{
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-size:27pt;
}
